# Docker ignore for backend

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
# .env - Allow CI-created .env files to be copied into Docker image
.venv
venv/
.git
.gitignore
README.md
.pytest_cache
.coverage
htmlcov
.mypy_cache
node_modules
